<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STLViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <STLViewer.Properties.Settings>
            <setting name="width_mm" serializeAs="String">
                <value>227</value>
            </setting>
            <setting name="height_mm" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="depth_mm" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="defaultColor_R" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="defaultColor_G" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="defaultColor_B" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="backColor_R" serializeAs="String">
                <value>0.14</value>
            </setting>
            <setting name="backColor_G" serializeAs="String">
                <value>0.41</value>
            </setting>
            <setting name="backColor_B" serializeAs="String">
                <value>0.86</value>
            </setting>
            <setting name="defaultColor_A" serializeAs="String">
                <value>1</value>
            </setting>
        </STLViewer.Properties.Settings>
    </userSettings>
</configuration>